@font-face {
    font-family: "opensansM";
    src: url("@/assets/font/OpenSans_Condensed-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "opensansR";
    src: url("@/assets/font/OpenSans_Condensed-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "opensansB";
    src: url("@/assets/font/OpenSans-Bold.ttf");
    font-weight: 700;
}